<%- include('layout.ejs'); %>
<%- include('nav.ejs'); %>

<div class="container">
  <div class="row d-flex justify-content-center flex-nowrap mt-5">
    <div class="col-md-8 text-dark fw-bold">
      <div class="card ">
        <div class="card-header font-weight-bold">Create Task</div>
        <div class="card-body">
          <form method="post" action="/add">
            <div class="form-group mb-3">
              <label for="name" class="form-label">The title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" />
            </div>
            <div class="form-group mb-3">
              <label for="email">Description</label>
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter your Description" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Create Task</button>
            </div>
          </form>
          <div class="login-register">
            <a href="/all">All tasks</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>